@import '../../vars.css';

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding-bottom: 37px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

/* Animation pour faire apparaître chaque compétence */
@keyframes fadeInSkill {
  from {
    opacity: 0; /* Définir l'opacité initiale à 0 */
    transform: translateY(20px); /* Déplacer chaque compétence vers le bas (ou toute autre direction souhaitée) */
  }
  to {
    opacity: 1; /* Définir l'opacité finale à 1 */
    transform: translateY(0); /* Annuler le déplacement */
  }
}

/* Définissez les compétences pour qu'elles soient initialement invisibles */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  opacity: 0;
  animation: fadeInSkill 1s ease forwards; /* Appliquer l'animation à toutes les compétences */
}

/* Ajoutez une classe d'animation à chaque compétence avec un décalage d'animation différent */
/* Réglez la valeur de l'animation-delay pour chaque compétence pour déterminer le délai entre leur apparition */
.skill:nth-child(1) {
  animation-delay: 0.5s; /* La première compétence apparaît après 0.5s */
}

.skill:nth-child(2) {
  animation-delay: 1s; /* La deuxième compétence apparaît après 1s */
}

.skill:nth-child(3) {
  animation-delay: 1.5s; /* La troisième compétence apparaît après 1.5s */
}

.skill:nth-child(4) {
  animation-delay: 2s; /* La quatrième compétence apparaît après 2s */
}

.skill:nth-child(5) {
  animation-delay: 2.5s; /* La cinquième compétence apparaît après 2.5s */
}

.skill:nth-child(6) {
  animation-delay: 3s; /* La sixième compétence apparaît après 3s */
}

.skill:nth-child(7) {
  animation-delay: 3.5s; /* La septième compétence apparaît après 3.5s */
}

/* Ajoutez d'autres compétences selon le nombre d'éléments dans votre liste */
/* Réglez la valeur de l'animation-delay pour chaque compétence pour déterminer le délai entre leur apparition */

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.skillImageContainer img {
  width: 30px;
}

.skill p {
  font-size: 20px;
  font-family: var(--font-roboto);
  font-weight: 600;
}
