/** @format */

@import '../../vars.css';
.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  border-radius: 10px;
  background-color: #C0C0C0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  padding: 18px 24px;
  max-width: 350px;
  height: fit-content;
}

.image {
  margin-bottom: 26px;
  border-radius: 10px;
  max-width: 100%; 
  height: auto; 
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: gray;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  color: black;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 22px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  font-size: 14px;
  color: black;
  background: linear-gradient(to right, #f2f2f2, #cccccc);
}
.expandButton{
  width: 100%; 
  background-color:  whitesmoke;
  padding: 10px 22px;
  margin-top: 15px;
  font-size: 20px;
  color:gray;
  border-radius: 10px;
  font-weight: 600;
}
.expandButton:hover{
  color: var(--color-bg);
  background: #C0C0C0;
  transition: transform 0.4s ease;
 
}
.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background: whitesmoke;
  padding: 10px 22px;
  width: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  color:gray;

}
.link:last-child {
  margin-right: 0; 
}
.link:hover {
  color: var(--color-bg);
  background: linear-gradient(to right, #cccccc, #666666);
  transform: scale(1.05);
  transition: transform 0.4s ease;

}
