.container {
  width: 100%;
  height: 100px;
  background-color: #dfe6e9;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
  
  margin-top: 10px;
 
 
}

.text h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0;
  color: gray;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 700;
  letter-spacing: 1.75px;
}


.text p {
  font-size: 40px;
  letter-spacing: 2px;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link a:hover {
  color: var(--color-primary);
}

.link i {
  color: black;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1.5px;
  background-color: #b2bec3;
  padding: 10px; /* Ajoute un peu de rembourrage pour l'espace autour de l'icône */
  border-radius: 50%; /* Rend l'icône circulaire en ajustant le bord */
}
.link i.clicked {
  color: mediumslateblue;
  font-weight: 600;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 22px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text p {
    font-size: 30px;
  }

  .links {
    align-items: center;
    margin-top: 32px;
  }
}
