@import '../../vars.css';

.header {
  position: fixed; /* Rend le header fixe en haut */
  top: 0; /* Positionne le header en haut de la page */
  height: 61px; 
  padding-right: 9%;
  justify-content: space-between;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); /* Augmente l'ombre */
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 9%;
  color: gray;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.95); /* Assurez-vous que la couleur de fond n'est pas opaque */
}

.logo {
font-size: 25px;
  font-family: 'Lobster', cursive;
  color: black;
}



.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  color: gray;
}

.menuItems a:hover {
  color: var(--color-bg);
}

.menuItems a {
  font-size: 18px;
  color: var(--color-text);
  text-decoration: none;
  color: gray;
}

@media screen and (max-width: 830px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 99;
  }
  .logo {
    margin-left: 5%;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 5%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }
  .menuItems {
    display: none;
    position: absolute;
    top: calc(100% + 10px); 
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    border-radius: 10px;
    background: grey;
    padding: 15px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    
  }
  .menuItems a{
    color: aliceblue;
  }
  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
